BODY {
	margin: 0;
	padding: 0;
}

#head {
	width: 100%;
	height: 50px;
//	border-bottom: 1px solid #CE5858;
}

#nav {
	width: 100%;
	background-image: url("images/headshadow.png");
	background-position: top;
	background-repeat: repeat-x;
}

#contents {
	padding: 0;
	margin: 0;
	margin-top: 51px;
}

.brand {
	text-align: left;
	overflow: hidden;
	height: 40px;
	position: relative;
	margin-top: 5px;
}

.brandbox {
}

.brandbox H3 {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.clear {
	color: #FFFFFF;
	clear: both;
}

.yearstart {
	font-weight: bold;
}

#head H2 {
	font-family: sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 0;
	color: #999999;
	font-size: 48px;
	clear: none;
	float: right;
}

#timeline {
	padding: 0;
	margin: 0;
	position: relative;
	margin-left: 10px;
}

.company {
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
}

#timeline_ruler {
	margin-left: 10px;
}

#timeline_ruler #timeline_ruler_years {
	height:50px;
}

#timeline_ruler #timeline_ruler_years .yearblank {
	float: left;
}

#timeline_ruler #timeline_ruler_years .yearmark {
	height: 50px;
	float: left;
	overflow: hidden;
}

#timeline_ruler #timeline_ruler_years .yearmark .yearmark_text {
	margin-top: 35px;
	/* Safari */
	-webkit-transform: rotate(-90deg);
	
	/* Firefox */
	-moz-transform: rotate(-90deg);
	
	/* IE */
	-ms-transform: rotate(-90deg);
	
	/* Opera */
	-o-transform: rotate(-90deg);
	
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#timeline_ruler #timeline_ruler_marks {
	height: 30px;
}

#timeline_ruler #timeline_ruler_marks .yearmark {
	text-align: center;
	float: left;
	overflow: hidden;
}
